@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Langar&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    position: fixed;
}

.brightness {
    width: 100%;
    height: 870vh;
    opacity: 0.5;
    position: fixed;
    background-color: black;
    top: 0;
}

nav {
    backdrop-filter: blur(4px);
    width: 100%;
    height: 95px;
    position: fixed;
    z-index: 1;
}

.xp {
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;
}

.xp>:first-child {
    width: 130px;
    cursor: pointer;
}

.x ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.x ul li {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
}

.x1 svg {
    display: none;

}

.x ul li:hover {
    cursor: pointer;
    font-size: 20px;
}

.x1 img {
    cursor: pointer;
    height: 50px;
    width: 50px;
}

main {
    position: absolute;
    z-index: 0.5;
}

.a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding: 180px 170px;
    gap: 20px;
}

.a>:first-child {
    width: 640px;
    height: 160px;
    margin-bottom: 13px;
}

.a>:nth-child(2) {
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
    line-height: 32px;
}

.a>:nth-child(3) {
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 21px;
    line-height: 28px;
    font-weight: 300;
    font-style: normal;
}

.a>:nth-child(4) {
    background: transparent;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    border-radius: 33px;
    padding: 15px 32px;
    border: 2px solid white;
    margin-top: 18px;
}

.a>:nth-child(4):hover {
    cursor: pointer;
    color: black;
    background-color: white;
}



.y {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: "Langar", system-ui;
    font-weight: 400;
    font-style: normal;
}

.b2>:last-child:hover,
.c1>:last-child:hover,
.d2>:last-child:hover,
.e1>:last-child:hover,
.f2>:last-child:hover,
.g1>:last-child:hover,
.h2>:last-child:hover,
.i1>:last-child:hover {
    cursor: pointer;
    color: rgb(220, 38, 38);
}

.b,
.d,
.f,
.h {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 90px;
    width: 100%;
}

.b1,
.d1,
.f1,
.h1 {
    width: 34%;
    text-align: center;
}

.b2,
.d2,
.f2,
.h2 {
    width: 46%;
}

.b img,
.c img,
.d img,
.e img,
.f img,
.g img,
.h img,
.i img {
    border-radius: 12px;
    width: 340px;
    height: 420px;
}

.c,
.e,
.g,
.i {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 90px;
    width: 100%;
}

.c1,
.e1,
.g1,
.i1 {
    width: 46%;
}

.c2,
.e2,
.g2,
.i2 {
    text-align: center;
    width: 34%;
}

.b2>:first-child,
.c1>:first-child,
.d2>:first-child,
.e1>:first-child,
.f2>:first-child,
.g1>:first-child,
.h2>:first-child,
.i1>:first-child {
    text-align: center;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 18px;
}

.b2>:nth-child(2),
.b2>:nth-child(3),
.b2>:nth-child(4),
.b2>:nth-child(5),
.c1>:nth-child(2),
.c1>:nth-child(3),
.d2>:nth-child(2),
.d2>:nth-child(3),
.d2>:nth-child(4),
.e1>:nth-child(2),
.f2>:nth-child(2),
.f2>:nth-child(3),
.f2>:nth-child(4),
.g1>:nth-child(2),
.g1>:nth-child(3),
.g1>:nth-child(4),
.g1>:nth-child(5),
.g1>:nth-child(6),
.h2>:nth-child(2),
.h2>:nth-child(3),
.h2>:nth-child(4),
.i1>:nth-child(2),
.i1>:nth-child(3),
.j>:nth-child(2),
.j>:nth-child(3),
.j>:nth-child(4) {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
}

.b2>:nth-child(2),
.b2>:nth-child(3),
.b2>:nth-child(4),
.c1>:nth-child(2),
.d2>:nth-child(2),
.d2>:nth-child(3),
.f2>:nth-child(2),
.f2>:nth-child(3),
.g1>:nth-child(2),
.g1>:nth-child(3),
.g1>:nth-child(4),
.g1>:nth-child(5),
.h2>:nth-child(2),
.h2>:nth-child(3),
.i1>:nth-child(2),
.j>:nth-child(2),
.j>:nth-child(3) {
    margin-bottom: 18px;
}

.b2>:nth-child(5),
.c1>:nth-child(3),
.d2>:nth-child(4),
.e1>:nth-child(2),
.f2>:nth-child(4),
.g1>:nth-child(6),
.h2>:nth-child(4),
.i1>:nth-child(3),
.j>:first-child {
    margin-bottom: 34px;
}

.b2>:nth-child(6),
.c1>:nth-child(4),
.d2>:nth-child(5),
.e1>:nth-child(3),
.f2>:nth-child(5),
.g1>:nth-child(7),
.h2>:nth-child(5),
.i1>:nth-child(4) {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    color: rgb(234 179 8);
}

.j {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;
    margin: auto;
}

.j>:first-child {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: "Langar", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-top: 90px;
}

.j>:nth-child(4) {
    margin-bottom: 150px;
}

.k {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 0.5;
    bottom: 565px;
    background-color: rgb(26, 32, 44);
    padding: 50px 0;
}

.k2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.k21,
.k31 p {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: sans-serif;
    line-height: 36px;
    font-weight: 700;
    font-style: normal;
}

.k22 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.k22>:first-child {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
}

.k22>:nth-child(2) {
    cursor: pointer;
    color: rgb(234, 179, 8);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
}

.k3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.k32 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.k32>:first-child {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.k32>:nth-child(2) {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.k32>:nth-child(3) {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {

    .a {
        width: 85%;
        padding-left: 65px;
        padding-right: 50px;
    }



    .b,
    .d,
    .f,
    .h {
        flex-direction: column;
        gap: 20px;
    }

    .b2,
    .d2,
    .f2,
    .h2,
    .c1,
    .e1,
    .g1,
    .i1,
    .b1,
    .d1,
    .f1,
    .h1,
    .c2,
    .e2,
    .g2,
    .i2,
    .j {
        width: 85%;
    }

    .j {
        gap: 25px;
    }

    .c,
    .e,
    .g,
    .i {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .k {
        flex-direction: column;
        gap: 100px;
        background-color: rgb(26, 32, 44);
    }

}

@media screen and (max-width: 1000px) {
    .img {
        object-position: center right;
    }
}

@media screen and (max-width: 900px) {
    .a>:nth-child(4) {
        font-size: 30px;
        padding: 20px 42px;
    }

    .y,
    .j>:first-child {
        font-size: 80px;
    }



    .b2>:first-child,
    .c1>:first-child,
    .d2>:first-child,
    .e1>:first-child,
    .f2>:first-child,
    .g1>:first-child,
    .h2>:first-child,
    .i1>:first-child {
        font-size: 60px;
        margin-bottom: 30px;
    }

    .a>:nth-child(2) {
        font-size: 55px;
        margin-bottom: 20px;
    }

    .a>:nth-child(3) {
        width: 100%;
        font-size: 35px;
        line-height: 45px;
    }


    .b2>:nth-child(2),
    .b2>:nth-child(3),
    .b2>:nth-child(4),
    .b2>:nth-child(5),
    .c1>:nth-child(2),
    .c1>:nth-child(3),
    .d2>:nth-child(2),
    .d2>:nth-child(3),
    .d2>:nth-child(4),
    .e1>:nth-child(2),
    .f2>:nth-child(2),
    .f2>:nth-child(3),
    .f2>:nth-child(4),
    .g1>:nth-child(2),
    .g1>:nth-child(3),
    .g1>:nth-child(4),
    .g1>:nth-child(5),
    .g1>:nth-child(6),
    .h2>:nth-child(2),
    .h2>:nth-child(3),
    .h2>:nth-child(4),
    .i1>:nth-child(2),
    .i1>:nth-child(3),
    .j>:nth-child(2),
    .j>:nth-child(3),
    .j>:nth-child(4) {
        font-size: 37px;
        line-height: 50px;
    }

    .b2>:nth-child(6),
    .c1>:nth-child(4),
    .d2>:nth-child(5),
    .e1>:nth-child(3),
    .f2>:nth-child(5),
    .g1>:nth-child(7),
    .h2>:nth-child(5),
    .i1>:nth-child(4) {
        font-size: 37px;
    }

    .b img,
    .c img,
    .d img,
    .e img,
    .f img,
    .g img,
    .h img,
    .i img {
        width: 420px;
        height: 520px;
        margin-bottom: 30px;
    }

    .k1 img {
        width: 400px;
        height: 200px;
    }

    .k21,
    .k31 p {
        font-size: 52px;
        margin-bottom: 20px;
    }

    .k22>:first-child,
    .k22>:nth-child(2) {
        font-size: 32px;
        line-height: 40px;
    }

    .k32>:first-child {
        height: 60px;
        width: 60px;
    }

    .k32>:nth-child(2) {
        height: 85px;
        width: 85px;
    }

    .k32>:nth-child(3) {
        height: 70px;
        width: 70px;
    }
}


@media screen and (max-width: 770px) {
    .x {
        display: none;
    }

    .xp>:first-child {
        width: 250px;
    }

    .xp {
        justify-content: flex-start;
        gap: 30px;
    }

    .x1 img {
        width: 70px;
        height: 70px;
    }

    .x1 {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .x1 svg {
        display: block;
    }

    .xp>:first-child {
        padding-right: 30px;
        border-right: 2px solid white;
    }
}


@media screen and (max-width: 570px) {
    .img {
        object-position: left center;
    }
}